<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
/* Style of Body */
header, main, .footer-section {
  max-width: 1400px;
  margin: 0 auto;
  
  
  
 
 
}

/* header Style */
.banner-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
  
  border-radius: 16px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../Images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.last-title {
  color: #fff;
 
  
  font-size: 32px;
}
.call {
  color: #fff;
  
  font-size: 72px;
  font-weight: 900;
}
/* header style end */


/* ALL CATAGORIES */
 
.catagories-item {
  text-align: center;
  
}
.c-p-item {
  color: #f00;
  
  
  font-size: 88px;
  font-style: normal;
  
  
  margin-top: 120px;
  margin-left: ;
}
.c-h-item {
  margin-top: 30px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.c-all-item {
  margin-top: 10px;
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.c-item-img img {
  margin-top: 48px;
  width: 702.9px;
  height: 500px;
  
}

/* Welcome styles */
.welcome-section {
  display: flex;

  gap: 20px;
  background-image: url(../Images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  
  height: 600px;
  
  margin-top: 100px;
}
.welcome-h3 {
  padding-left: 126px;
  padding-top: 126px;
  padding-right: ;
  color: #fff;

  font-size: 64px;
  font-style: normal;

  
  letter-spacing: 7.04px;
}
.welcome-p {
  padding-left: 126px;
  color: rgba(255, 255, 255, 0.8);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  padding-top: 10px;
}
.call-to-btn {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 160px;
  height: 64px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background-color: #f00;
  
}
#bbtn {
  margin-left: 158px;
}

/* hotel park style */

.new-park-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
  
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.park-1 {
  
  margin: 10px;
  color: #f00;
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
}
.park-2 {
  color: #070211;
  font-size: 32px;
  text-transform: capitalize;
}
.primary-btn {
  display: inline-flex;
  margin-top: 20px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
}
.primary-btn a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}
/* Hotel section style end */

/* NEW BEST OFFER  */

.main-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  

  margin: 140px 0px;
  
}
.offer-header {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.offer-heading {
  color: #070211;

  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.offer-paragraph {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.main-image {
  border-radius: 100%;
  border: 15px solid #f00;
  margin: auto;
  padding: 50px;
}
.main-image img {
}

.y-date {
  color: #f00;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.year-paragraph {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.main-year img {
  width: 140px;
  height: 140px;
}

/* our protfolio section style */
.banner7{


}
.img-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;


}
.banner-text {
  color: #f00;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 16px;
}
.banner-text-header {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.banner-text-paragraph {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 20px;
  width: 896px;
}
.img-row img{
 
  border-radius: 16px;
 
  
}
.img-row img:hover{
  border: 2px solid red;

}


/* Newsletter Style */

.banner-8 {
  margin: 100px 0;
  
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.banner-8 img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  width: 150px;
  height: 200px;
  
}
.banner-8-text {
  color: #070211;
  text-align: center;

  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.banner-8-paragraph {
  width: ;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;

  font-size: 20px;
}

.email {
  width: 648px;
  height: 72px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0 30px;
  background: #fff;
  
}
.subscribe-btn {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  border: 0;
  position: absolute;
  
 
}
.main-btn{
  margin: 0 auto;
  max-width: 60%;
 position: relative;
  
} 
/* Newsletter Style End */


/* footer style */

footer {
  width: 100%;
  padding: 80px 0px;
  background-color: black;
}

.footer-container {
  width: 100%;
 
  margin: auto;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  text-decoration: none;
  padding: 10px;
 
  margin: 10px;
  border-radius: 50%;
}
.social-icons a img {
  width: 50px;
}
/* hover effects on social media icons */
.social-icons a:hover {
  background-color: black;
  transition: 0.5s;
}
.social-icons a:hover i {
  color: white;
  transition: 0.5s;
}
.footer-bottom {
  background-color: #000;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  color: #fff;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 120px;
}
.footer-btn {
  color: #fff;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* horizontal-line style*/
.horizontal-line {
 
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 10px 120px;
 
}

.main-footer-nav {
  background: black;
  display: flex;
  justify-content: space-between;
  
  padding: 30px 20px;
  
}
.nav-p {
   
   
  color: #fff;
 
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.contact-sec{
   
}
.contact-sec .info {
  position: relative;
  
}
.contact-sec .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.contact-sec .info li span {
  color: white;
  font-size: 20px;
}
.contact-sec .info li a {
  color: white;
  text-decoration: none;
}


/* footer style End */